{
  "name": "{{project_name}}",
  "version": "0.0.1",
  "description": "{{description}}",
  "author": "{{author_name}}",
  "license": "MIT",
  "keywords": [],
  "repository": {
    "type": "git",
    "url": "git+https://github.com/username/repository.git"
  },
  "engines": {
    "node": "{{node_version}}.x"
  },
  "type": "module",
  "main": "dist/index.js",
  "scripts": {
    "build": "pnpm tsc --project ./tsconfig.build.json && tsc-alias --project ./tsconfig.build.json",
    "start": "node dist",
    "test": "NODE_OPTIONS='--experimental-vm-modules' jest",
    "format": "prettier --check \"**/*.{js,mjs,cjs,ts,jsx,tsx,md,json,yml,yaml}\"",
    "format:fix": "prettier --write \"**/*.{js,mjs,cjs,ts,jsx,tsx,md,json,yml,yaml}\"",
    "prepare": "husky"
  },
  "dependencies": {},
  "devDependencies": {
    "husky": "^9.1.7",
    "lint-staged": "^16.1.4",
    "prettier": "^3.6.2"
  }
}
