# Welcome to {{ project_name }}

{{ description }}

## 開発用セットアップ

プロジェクト構築後に、以下の手順で実行環境を構築します

```bash
cd <your-project-name>

# Install dependencies
pnpm install

```

## VSCodeでのDevcontainerを利用した開発用セットアップ

VSCodeの場合、Devcontainerを開きます
